// html {
//     scroll-behavior: smooth;
// }

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    padding: 0;
    margin: 10px 0 0 0;
}

li {
    display: inline;
}

a {
    padding: 0 1.75rem 0 1.75rem;
    font-size: 1.75rem;

    font-family: "classico-urw", sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-style: italic;

    &:hover {
        text-decoration: underline;
    }
}

.separator {
    height: 1px;
    width: 60vw;
    margin: auto;
    margin-top: 10px;
    background-color: #E2BA49;
}

section {
    h2 {
        font-family: century-gothic, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.75rem;

        margin: 40px 0 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #E2BA49;
    }

    .container {
        display: grid;
        grid-template-columns: 140px repeat(12, 1fr) 140px;
        gap: 16px;
    
        font-family: century-gothic, sans-serif;
        font-weight: 400;
        font-style: normal;

        .left {
            // background: red;
            grid-column-start: 3;
            grid-column-end: 11;

            margin-bottom: 40px;
            
            .label {
                white-space: pre-line;
                color: white;
                font-size: 1.75rem;
                margin: 0;
            }

            .place {
                color: #646464;
                font-size: 0.875rem;
                margin: 0;
            }
        }
    
        .right {
            // background: red;
            grid-column-start: 11;
            grid-column-end: 13;
            color: white;
            font-size: 1.75rem;
            display: flex;
            align-items: center;
            justify-content: end;
        }
    }
}

@media (max-width: 1300px) {
    section {
        .container {
            .left {
                grid-column-start: 2;
                grid-column-end: 12;
            }
            .right {
                grid-column-start: 12;
                grid-column-end: 14;
            }
        }
    }
}

@media (max-width: 1210px) {
    a {
        padding: 0 1.0rem 0 1.0rem;
        font-size: 1.0rem;
    }
    section {
        h2 {
            font-size: 1.0rem;
        }
        .container {
            .left {
                // grid-column-start: 2;
                // grid-column-end: 12;
                .label {
                    font-size: 1.0rem;
                }
                .place {
                    font-size: 1.0rem;
                }
            }
            .right {
                // grid-column-start: 12;
                // grid-column-end: 14;
                font-size: 1.0rem;
            }
        }
    }
}

@media (max-width: 860px) {
    a {
        padding: 0 0.8rem 0 0.8rem;
        font-size: 0.8rem;
    }
    section {
        h2 {
            font-size: 0.8rem;
        }
        .container {
            grid-template-columns: 20px repeat(12, 1fr) 20px;
            .left {
                // grid-column-start: 1;
                // grid-column-end: 11;
                .label {
                    font-size: 0.8rem;
                }
                .place {
                    font-size: 0.8rem;
                }
            }
            .right {
                // grid-column-start: 12;
                // grid-column-end: 15;
                font-size: 0.8rem;
            }
        }
    }
}

@media (max-width: 660px) {
    li {
        display: block;
    }
    // a {
    //     padding: 0 0.8rem 0 0.8rem;
    //     font-size: 0.8rem;
    // }
    // section {
    //     h2 {
    //         font-size: 0.8rem;
    //     }
    //     .container {
    //         .left {
    //             .label {
    //                 font-size: 0.8rem;
    //             }
    //             .place {
    //                 font-size: 0.8rem;
    //             }
    //         }
    //         .right {
    //             font-size: 0.8rem;
    //         }
    //     }
    // }
}
//1210