nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    margin: 40px 0 0 0;
}
li {
    display: inline;
}
a {
    padding: 0 1.75rem 0 1.75rem;
    font-size: 1.75rem;

    font-family: "classico-urw", sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-style: italic;
}

.active {
    text-decoration: underline;
}