<main>
    <form method="POST" action="https://formsubmit.co/4033131be6720e88153be9e40d9e1d87">
        <div class="line">
            <label for="lastName">Nom</label>
            <input type="text" id="lastName" name="lastName" placeholder="Nom">
    
            <label for="firstName">Prénom</label>
            <input type="text" id="firstName" name="firstName" placeholder="Prénom">
        </div>

        <div class="line">
            <label for="email">Adresse e-mail</label>
            <input type="email" id="email" name="email" placeholder="Adresse e-mail">
        </div>

        <div class="line">
            <label for="message">Message</label>
            <textarea id="message" rows="6" name="message" placeholder="Message"></textarea>
        </div>

        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_next" value="https://estelle-georges.netlify.app/contact/thanks">

        <div class="line">
            <button id="submit" type="submit">Envoyer</button>
        </div>

        <!-- name 'form' for-->
    </form>
</main>