main {
    height: 100vh;
    margin-top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2, a {
        font-family: century-gothic, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.875rem;
        color: white;
    }
    a {
        background: black;
        border: 1px #E2BA49 solid;
        color: #E2BA49;
        text-decoration: none;
        border-radius: 8px;
        padding: 5px 22px;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: #AB8A2E;
            color: white;
        }

        transition: all 0.4s;
    }
    svg {
        width: 1.875rem;
        height: 1.875rem;
        margin-right: 22px;
    }
}

@media (max-width: 530px) {
    main {
        h2, a {
            font-size: 1.0rem;
            // background-color: red;
        }
        svg {
            width: 1.0rem;
            height: 1.0rem;
        }
    }
}

@media (max-width: 280px) {
    main {
        h2, a {
            font-size: 0.8rem;
            // background-color: red;
        }
        svg {
            width: 0.8rem;
            height: 0.8rem;
        }
    }
}