<main class="container" (click)="enterPortfolio()">
    <h1>ESTELLE GEORGES</h1>
    <img src="assets/img/notaire_logo.jpg" alt="">
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 70 70">
        <g id="Groupe_1" data-name="Groupe 1" transform="translate(-925 -876)">
          <circle id="Ellipse_1" data-name="Ellipse 1" cx="35" cy="35" r="35" transform="translate(925 876)" fill="#e2ba49"/>
          <circle id="Ellipse_2" data-name="Ellipse 2" cx="27" cy="27" r="27" transform="translate(933 884)"/>
          <line id="Ligne_1" data-name="Ligne 1" y2="42.981" transform="translate(959.893 882.239)" fill="none" stroke="#e2ba49" stroke-linecap="round" stroke-width="8"/>
          <line id="Ligne_3" data-name="Ligne 3" x2="17.562" y2="17.562" transform="translate(942.331 910.893)" fill="none" stroke="#e2ba49" stroke-linecap="round" stroke-width="8"/>
          <line id="Ligne_4" data-name="Ligne 4" x2="17.562" y2="17.562" transform="translate(977.456 910.893) rotate(90)" fill="none" stroke="#e2ba49" stroke-linecap="round" stroke-width="8"/>
        </g>
    </svg>      
</main>