/* You can add global styles to this file, and also import other style files */
$gold-color: #E2BA49;
$darker-gold-color: #AB8A2E;

html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: black;
    margin: 0;
    font-size: 16px;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-track {
        background: black;
    }
    &::-webkit-scrollbar-thumb {
        background: $gold-color;
        border-radius: 4px;
    }

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.text-gold {
    color: $gold-color;
    
}
// .text-gold:hover {
//     color: darken($color: $gold-color, $amount: 20)
// }

.text-darker-gold {
    color: $darker-gold-color;
}

.background-gold {
    background: $gold-color;
}